@import "variables";

body {
    font-family: roboto;
    h1 {
        text-align: center;
        font-family: UpperEastSide;
        font-size: 4em;
        letter-spacing: 0.03em;
    }
    .editorCommandsUl {
        display: flex;
        list-style: none;
        text-decoration: none;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0.5em;
        .editorCommandsLi {
            display: block;
            padding: 0.5em;
            margin: 0.1em;
            font-size: 0.9em;
            @include buttonAspect;
        }
    }

    #editor {
        min-height: 300px;
        width: 100%;
        border: 1px solid black;
    }   
    #publishButton {
        position: absolute;
        left: 0;
        right: 0;
        width: 11em;
        margin: 2em auto 2em auto;
        padding: 1em;
        border: 0.01em solid grey;
        border-radius: 0.2em;
        @include buttonAspect;
    }
    footer {
        margin-top: 6em;
    }
}
