@import "variables";

footer {
    display: flex;
    justify-content: space-between;
    background-color:$darkBlue;
    color: $goldYellow;
    padding: 0.5em;
    margin: -0.5em;
    .footerColumn {
        padding:0.5em;
        width: 50%;
        .footerMenu {
            padding-left: 0em;
            .footerLi { 
                list-style: none;
                .footerLink {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }


}