@import "variables";

body {
    max-width: 100%;
    font-size: 0.8em;
    color: $darkGrey;
    font-family: "DINbek";

    header {
        .topHeader {
            display:flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 0em 0em 0.3em 1px lightgrey;
            margin: -0.6em -0.6em 0.1em -0.6em;
            .navBurger {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .burgerMenu {
                    font-size: 2em;
                    padding: 0.3em;
                    color: $darkBlue;
                }
                .burgerUl {
                    display: none;
                    
                    .burgerLink {
                        font-size: 1.2em;
                        padding: 0.5em;
                        text-decoration: none;
                    }
                }
                #toggle {
                    display: none;
                }
                #toggle:checked + .burgerUl {
                    display: flex;
                    position:absolute;
                    flex-direction: column;
                    padding: 1.5em;
                    background-color: white;
                    border-radius: 0em 0em 0.2em;
                    z-index: 2;
                    margin-top: 4.1em;
                    margin-right: -10em;
                }
            }
            .contactLink {
                padding: 0.3em;
                font-size: 2em;
                color: $darkBlue;
            }
        }

        .middleHeader {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $darkBlue;
            padding: 2.5em 0.5em 0em;    
            margin: 0.15em -0.6em;   
            .imageHeader {
                .logo {
                    max-width: 100%;
                }
            }
            h1 {
                font-family: 'UpperEastSide', 'Roboto';
                padding: 1.5em;
                color: white;
                letter-spacing: 0.1em;
                text-align: center;
                font-size: 1.7em;
                font-weight: normal;
            }
            .plusButton {
                border: solid $fireOrange 0.15em;
                border-radius: 1em;
                padding: 0.5em 1.5em;
                color: $goldYellow;
                text-decoration: none;
                margin-bottom: 2.5em;
                z-index: 10;
            }
            .imageContener {
                display: flex;
                justify-content: start;
                width: 100%;
                margin-top: -5em;
                .baguette {
                    width: 20em;
                    margin-left: -5em;
                }
            }
            .reseauxHeader {
                display:flex;
                justify-content: flex-end; 
                align-items: flex-end;
                width: 100%;
                height: 3.1em;
                margin-bottom: -0.5em;
                margin-top: -5em;
                .iconesReseaux {
                    font-size: 2em;
                    padding-right: 0.3em;
                    color: white;
                }
            }
        }

        .menuUl {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            flex-wrap: wrap;
            padding: 0em;
            .menuLi {
                list-style: none;
                padding: 0.7em;
                border-radius: 0.2em;
                .menuAncres {
                    text-decoration: none;
                }
                &:hover {
                    background-color: $goldYellow;
                }
            }
        }
    }
}