@font-face {
  font-family: "UpperEastSide";
  src: url(../polices/UpperEastSide.ttf) format("truetype");
}
@font-face {
  font-family: "DINbek";
  src: url("../POLICES/din/DINBek-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "DinC";
  src: url("../POLICES/din/din/DinC.ttf") format("truetype");
}
@keyframes logoArrival {
  0% {
    opacity: 0;
    transform: scale(0, 0);
  }
  50% {
    opacity: 1;
    transform: scale(1.3, 1.3) rotate(-5deg);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes logoAnimation {
  0% {
    opacity: 1;
    transform: scale(1, 1);
  }
  50% {
    opacity: 1;
    transform: scale(1.3, 1.3) rotate(-5deg);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes fairyAnimationMobile {
  0% {
    transform: translate(0%, 0%);
  }
  10% {
    transform: translate(-50%, -15%);
  }
  25% {
    transform: translate(-80%, -35%) rotate(40deg) scale(1.1, 1.1);
  }
  30% {
    transform: translate(-75%, -25%) rotate(-15deg);
  }
  40% {
    transform: translate(-70%, -25%) rotate(0deg);
  }
  50% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes fairyAnimationDesktop {
  0% {
    transform: translate(0%, 0%);
  }
  30% {
    transform: translate(-300%, -60%);
  }
  50% {
    transform: translate(-370%, -15%) rotate(40deg) scale(1.2, 1.2);
  }
  55% {
    transform: translate(-370%, -15%) rotate(15deg) scale(1, 1);
  }
  70% {
    transform: translate(-300%, -15%) rotate(10deg);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
@keyframes starsAnimation1 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
  85% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes starsAnimation2 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes starsAnimation3 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  85% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes starsAnimation4 {
  0% {
    opacity: 0;
  }
  35% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  65% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes plusButtonAnimation {
  10% {
    transform: scale(1.1, 1.1);
    box-shadow: 0em 0.3em 20px 2px #e1d201;
  }
  25% {
    transform: scale(1, 1);
    box-shadow: 0em 0.3em 20px 2px #91b1c6;
  }
  50% {
    transform: scale(1.1, 1.1);
    box-shadow: 0em 0.3em 20px 2px #e1d201;
  }
  75% {
    transform: scale(1, 1);
    box-shadow: 0em 0.3em 20px 2px #91b1c6;
  }
  90% {
    transform: scale(1.1, 1.1);
    box-shadow: 0em 0.3em 20px 2px #e1d201;
  }
}
body {
  max-width: 100%;
  font-size: 0.8em;
  color: #29225a;
  font-family: "DinC", "Roboto";
}
body header #sectionArrival0 {
  width: 0.5em;
  height: 0.5em;
}
body header .topHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0em 0em 0.3em 1px lightgrey;
  margin: -1.1em -0.6em 0.1em -0.6em;
  background-color: white;
  height: 4.4em;
  position: fixed;
  width: 100%;
  z-index: 100;
}
body header .topHeader .navMenu {
  padding: 0.5em;
}
body header .topHeader .navMenu .hamburger {
  border: transparent solid 0.1em;
  background: white;
  cursor: pointer;
  color: #29225a;
  font-size: 1.7em;
}
body header .topHeader .navMenu .hamburger .closeIcon {
  display: none;
}
body header .topHeader .navMenu .navMenuUl {
  position: fixed;
  transform: translateX(-101%);
  transition: transform 0.2s;
  top: 3.7em;
  left: 0;
  right: 25%;
  z-index: 99;
  background: #014d92;
  list-style: none;
  padding: 2em;
  height: 100vh;
}
body header .topHeader .navMenu .navMenuUl .navMenuLi {
  padding-bottom: 2em;
}
body header .topHeader .navMenu .navMenuUl .navMenuLi .navMenuLink {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}
body header .topHeader .navMenu .showMenu {
  transform: translateX(0);
}
body header .topHeader .contactLink {
  padding: 0.5em;
  font-size: 2em;
  color: #29225a;
}
body header .topHeader .contactLink:hover {
  color: #f0502c;
}
body header .middleHeader {
  min-height: 92vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 0.5em;
  margin: 3.5em -0.6em 0em;
  overflow: hidden;
  justify-content: space-between;
}
body header .middleHeader .imageHeader {
  background-color: #29225a;
  padding: 3em 1.5em;
  margin: 0em -0.5em;
  overflow: hidden;
}
body header .middleHeader .imageHeader .logo {
  max-width: 100%;
  animation: logoArrival 2s forwards;
}
body header .middleHeader h1 {
  font-family: "UpperEastSide", "Roboto";
  padding: 0.5em 1.5em;
  letter-spacing: 0.05em;
  background-color: white;
  margin: -1em -0.25em 0em;
  text-align: center;
}
body header .middleHeader .fairyContener {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: -5em;
}
body header .middleHeader .fairyContener .fairyHeader {
  width: 10em;
  margin-right: -3em;
  z-index: 3;
  animation: fairyAnimationMobile 8s infinite forwards;
  animation-delay: 3s;
}
body header .middleHeader .plusButtonBloc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
body header .middleHeader .plusButtonBloc .plusButton {
  border-radius: 2em;
  padding: 1em 1.3em;
  color: ivory;
  text-decoration: none;
  text-align: center;
  z-index: 4;
  border-bottom: #b0a611 solid 0.1em;
  background: #e1d201;
  animation: plusButtonAnimation infinite 10s;
  animation-delay: 4s;
  box-shadow: 0em 0.3em 20px 2px #e1d201;
  font-size: 1.5em;
  margin-top: -0.5em;
}
body header .middleHeader .plusButtonBloc .plusButton:hover {
  box-shadow: 0em 0.5em 18px 3px #e1d201;
}
body header .middleHeader .plusButtonBloc .clic {
  color: #f0502c;
  margin: -7em -3em 0em 0em;
  opacity: 0;
  transform: rotate(-15deg);
  animation: starsAnimation4 8s infinite forwards;
  animation-delay: 3s;
}
body header .middleHeader .plusButtonBloc .plusButtonStars1 {
  margin: 0em 0.5em 2em;
  width: 1.2em;
  opacity: 0.5;
  animation: starsAnimation1 8s infinite forwards;
  animation-delay: 3s;
}
body header .middleHeader .plusButtonBloc .plusButtonStars2 {
  width: 1em;
  margin-right: 0.1em;
  opacity: 0.5;
  animation: starsAnimation2 8s infinite forwards;
  animation-delay: 3s;
}
body header .middleHeader .plusButtonBloc .plusButtonStars3 {
  width: 1em;
  margin: 0em 0.1em 1em;
  opacity: 0.5;
  animation: starsAnimation3 8s infinite forwards;
  animation-delay: 3s;
}
body header .middleHeader .plusButtonBloc .plusButtonStars4 {
  width: 1.5em;
  margin: 1em 0em 0em;
  opacity: 0.5;
  animation: starsAnimation4 8s infinite forwards;
  animation-delay: 3s;
}
body header .middleHeader .reseauxHeader {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 0.1em;
  margin-top: 6em;
  box-shadow: 0em 0em 13px 1px #e1d201;
}
body header .middleHeader .reseauxHeader .reseauxHeaderLink {
  color: #29225a;
}
body header .middleHeader .reseauxHeader .reseauxHeaderLink .iconesReseaux {
  font-size: 2.5em;
  padding: 0em 0.2em 0em 0.2em;
}
body header .middleHeader .reseauxHeader .reseauxHeaderLink .iconesReseaux:hover {
  color: #f0502c;
  font-size: 3em;
}

@media screen and (min-width: 1024px) {
  .topHeader .navMenu .hamburger {
    display: none;
  }
  .topHeader .navMenu .navMenuUl {
    transform: translateX(0%) !important;
    display: flex !important;
    top: auto !important;
    background: white !important;
    height: 1em !important;
    margin-top: -0.7em;
    width: 100%;
    padding: 0em !important;
    justify-content: center;
  }
  .topHeader .navMenu .navMenuUl .navMenuLink {
    color: #07272c !important;
    padding: 1.5em !important;
  }
  .topHeader .navMenu .navMenuUl .navMenuLink:hover {
    text-decoration: underline #f0502c 0.2em !important;
  }
  .topHeader .contactLink {
    display: none;
  }

  .middleHeader .imageHeader {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .middleHeader .imageHeader .logo {
    max-width: 40% !important;
  }
  .middleHeader h1 {
    padding: 1em 10em !important;
  }
  .middleHeader .fairyHeader {
    animation: 8s infinite fairyAnimationDesktop !important;
    animation-delay: 3s;
  }
}

/*# sourceMappingURL=header-style.css.map */
