@import "variables";

section {
    padding: 0.5em;

    h2 {
        font-family: "UpperEastSide", "Roboto";
        font-size: 2em;
        letter-spacing: 0.03em;
    }

    #article1 {
        @include articleBoxesIndex;

        .article1Content {
            text-align: justify;
        }
    }
    .blocImageArticle1 {
        display: flex;
        justify-content: flex-end;
        .imageArticle1 {
            max-width: 70%;
            margin-right: -0.5em;
            box-shadow: -7em 0em 3em 0em white;
        }
    }
    #article2 {
        @include articleBoxesIndex;
        .article2Content {
            text-align: justify;
        }
        .blocImageArticle2 {
            display: flex;
            justify-content: center;
        }
        .imageArticle2 {
            max-width: 90%;
        }
    } 
    #article3 {
        @include articleBoxesIndex;
        .article3Content {
            text-align: justify;
        }
        .blocImageArticle3 {
            display: flex;
            justify-content: center;
            .imageArticle3 {
                max-width: 90%;
            }
        }  
    } 
}