// Couleurs
$darkBlue : #29225a;
$mediumBlue : #014d92;
$lightBlue : #91b1c6;
$goldYellow : #e1d201;
$fireOrange : #f0502c;
$darkRed : #992b25;
$darkGreen : #005046;
$lightGreen : #82a392;
$darkGrey : #07272c;
$lightGrey : #858b91;

// typo 
@font-face {
    font-family: 'UpperEastSide';
    src: url(../polices/UpperEastSide.ttf) format('truetype');
}