// Couleurs
$darkBlue : #29225a;
$mediumBlue : #014d92;
$lightBlue : #91b1c6; // RGB(56.86, 69.41, 77.65); HSL(204, 32, 67)
$goldYellow : #e1d201; // RGB(225, 210,	1); HSL(0.16, 0.99, 0.44)
$fireOrange : #f0502c;
$darkRed : #992b25;
$darkGreen : #005046;
$lightGreen : #82a392;
$darkGrey : #07272c;
$lightGrey : #858b91;

$indexBkg : black;
$lightIndexBkg : #f4f4f4f2;
$buttonShadow : #c1bfbf;
$buttonBackground : #e3e2e2;

$charterDarkBlue : #0000a1;
$charterMediumBlue: #0026d1;
$charterLightBlue: #91ccdb;
$charterGoldYellow: #e5e500;
$charterFireOrange: #ff2914;
$charterDarkRed: #7f0000;
$charterDarkGreen: #005200;
$charterLightGreen: #78bf8a;
$charterDarkGrey: #000000;
$charterLightGrey: #7a99a1;

// typo 
@font-face {
    font-family: 'UpperEastSide';
    src: url(../polices/UpperEastSide.ttf) format('truetype');
}
@font-face 
{
    font-family: "DINbek" ; 
    src: url("../POLICES/din/DINBek-Regular.ttf") format('truetype');
}
@font-face 
{
    font-family: "DinC" ; 
    src: url("../POLICES/din/din/DinC.ttf") format('truetype');
}

// Mixin 

@mixin simpleButtonAspect {
    padding: 0.5em;
    border: 0.01em solid grey;
    border-radius: 0.2em;
    background-color: whitesmoke;
    &:hover {
        box-shadow: inset 0.1em 0.1em 0.25em 0.1em $buttonShadow;
        background-color: $buttonBackground;
    }
}

// Keyframes

@keyframes apparitionSousMenu {
    0% {
        opacity: 0;
        transform: rotateX(-100deg);
        transform-origin: top;
    }  
    100% {
        opacity: 1;
        transform: rotateX(0deg);
        transform-origin: top;
    }
}

@keyframes indexColorBkg {
    0% {
        background-color: $darkBlue;
    }
    30% {
        background-color: $darkBlue;
    }
    40% {
        background-color: $lightBlue;
    }
    80% {
        background-color: $lightBlue;
    }
    90% {
        background-color: $darkBlue;
    }
}

@keyframes logoArrival {
    0% {
        opacity: 0;   
        transform: scale(0,0);
    }
    50% {
        opacity: 1;
        transform: scale(1.5,1.5) rotate(-5deg);
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
    }
}
@keyframes logoAnimation {
    0% {
        opacity: 1;   
        transform: scale(1,1);
    }
    50% {
        opacity: 1;
        transform: scale(1.3,1.3) rotate(-5deg);
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
    }
}

@keyframes fairyAnimation {
    0% {
        transform: translate(0.2em, 0.2em);
    }
    15% {
        transform: translate(-0.2em, -0.3em);
    }
    25% {
        transform: rotate(40deg) scale(1.1,1.1);
    }
    30% {
        transform: rotate(-15deg);
    }
    40% {
        transform: rotate(0deg);
    }
    50% {
        transform: translate(0.2em, 0.3em);
    }
    70% {
        transform: translate(-0.3em, -0.2em);
    }
    90% {
        transform: translate(0.2em, 0.3em);
    }
}


@keyframes starsAnimation1 {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    50% { 
        opacity: 0;
    }
    60% {
        opacity: 1;
    }
    65% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    80% {
        opacity: 1;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes starsAnimation2 {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    85% {
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
@keyframes starsAnimation3 {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% { 
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    85% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes starsAnimation4 {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 0;
    }
    40% {
        opacity: 0;
    }
    50% { 
        opacity: 1;
    }
    60% {
        opacity: 0;
    }
    65% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes plusButtonAnimation {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: scale(1,1);
        background-color: $indexBkg;
        box-shadow: -0.1em 0.1em 1px 1px $indexBkg;
    }
    50% {
        transform: scale(1.1,1.1);
    }
    75% {
        transform: scale(1,1);
        box-shadow: -0.1em 0.1em 1px 1px $goldYellow;
    }
    90% {
        transform: scale(1.1,1.1) rotate(180deg);
    }

}
